#image.span-15.colborder
  %h2= @asset['name']
  #slideshow
    #controls
      %span
        %a#prev{:href => ""}Prev
      %span
        %a#next{:href => ""}Next
      %span
        %a#pause{:href => ""}Pause
      %span
        %a#play{:href => ""}Play
    #slides
      - @thumbnails.each do |thumb|
        %img{:src => "/images/#{@asset['_id']}/#{thumb}", :width => "600", :height => "400"}
  %br

#info.span-8.last
  .box
    %h3.caps Brief
    %p= @asset['brief']
    %h3.caps Details
    %p= @asset['details']
    %h3.caps Keywords
    %ul
      - @asset['keywords'].each do |keyword|
        %li
          %a{:href => "/search?q=keyword:#{keyword}"}= keyword