#search
  = partial :_search_form

%h1
  = @asset['name']

.slideshow
  - @thumbnails.each do |thumb|
    %img{:src => "#{@@forge}/assets/#{@asset['_id']}/#{thumb}", :width => "600", :height => "400"}

#brief
  %h2= @asset['brief']

#description
  %p= @asset['details']

%ul#keywords
  - @asset['keywords'].each do |keyword|
    %li= keyword

